{{ define "preload" }}

{{ where .Pages "Type" "in" site.Params.mainSections | .Paginate | .Scratch.Set "paginator" }}
{{ range (.Scratch.Get "paginator").Pages }}
{{ with .Content }}{{ end }}
{{ .Scratch.Get "css" | $.Scratch.Set "css" }}
{{ .Scratch.Get "js" | $.Scratch.Set "js" }}
{{ end }}

{{ end }}

{{ define "main" }}

{{ range (.Scratch.Get "paginator").Pages }}

<h1>about</h1>
<p>eda3について</p>
<h1>Posts</h1>
<p>過去記事一覧</p>
<h1>Tags</h1>
<p>タグ一覧</p>
<h1>Categories</h1>
<p>カテゴリー一覧</p>
<h1>RSS</h1>
<p>RSS登録時にどうぞ</p>

{{/*  index ここはテスト

<article>
  {{ .Content }}
  {{ partial "tags.html" }}
</article>

*/}}


{{ end }}
{{ .Scratch.Get "paginator" | partial "pagination.html" }}

{{ end }}
