{{ define "preload" }}

{{ where .Pages "Type" "in" site.Params.mainSections | .Paginate | .Scratch.Set "paginator" }}
{{ range (.Scratch.Get "paginator").Pages }}
{{ with .Content }}{{ end }}
{{ .Scratch.Get "css" | $.Scratch.Set "css" }}
{{ .Scratch.Get "js" | $.Scratch.Set "js" }}
{{ end }}

{{ end }}

{{ define "main" }}
技術ブログ、呟き、雑記帳

Twitter: https://Twitter.com/eda3__

Github: http://github.com/eda3
{{/*  index ここはテスト

{{ range (.Scratch.Get "paginator").Pages }}
<article>
  {{ .Content }}
  {{ partial "tags.html" }}
</article>

{{ end }}
*/}}


{{ .Scratch.Get "paginator" | partial "pagination.html" }}

{{ end }}
