{{ with site.Params.footer }}
<footer class="Footer">
  <div class="u-wrapper">
    <div class="u-padding">
      {{ . | safeHTML }}
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5261078090588815"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gw-3+1f-3d+2z"
     data-ad-client="ca-pub-5261078090588815"
     data-ad-slot="7801469329"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
  </div>
</footer>
{{ end }}
